@font-face {
    font-family: 'avenir-next';
    src: url('../fonts/avenir-next-regular.woff') format('woff'),
         url('../fonts/avenir-next-regular.tff') format('truetype');
}

$error-color: rgb(221, 44, 0);

.container {
    padding-right:30px;
    padding-left: 30px;
    margin-right: 0px;
    margin-left: 0px;
    width: initial;
}

.header-partial {
    margin-top: 25px;

    .page a {
        font-family: avenir-next;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;
    }
    .page a:hover {
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    }
    .page .selected a {
        color: black;
        border-bottom: 1px solid #000;
    }

    .right-header {
        margin-right: 40px;
        margin-top: 1px;
        float:right;

        .header-btn {
            margin-right: 10px;
            background-color: transparent;
            background-repeat: no-repeat;
            border:none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

        .dropdown-menu {
            margin: 10px -120 0;

            li a:hover {
                border: none;
            }
        }

        .fa-lg {
            line-height: initial;
            font-size: 1.5em;
        }
    }
}

#create-event-dialog {
    .toText {
        position: relative;
        top: -8px;
        margin-left: 13px;
        margin-right: 13px;
    }

    .eventnameform {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px !important;
        width: auto;
        display: block;
    }

    .eventtimeform {
        margin-left: 20px;
        margin-right: 20px;

        .timepicker {
            margin-left: 20px;
            position: relative;
            top: -8px;
            width: 90px;
        }

        .dateform {
            display: inline-block;
        }
    }

    .eventdescription {
        margin-left: 20px;
        margin-right: 20px;
        top: -35px;
    }

    .create-button {
        margin-right: 15px;
    }

    .create-event-error {
        text-align: center;
        color: $error-color;
    }
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.button {
  outline: none;
  border: none;
}

/* Month header */
.month {
    padding: 25px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    background: #1abc9c;
    color:#fff;
    padding-top: 10px;
}

.month .prev:hover {
  background-color: #1abc9c;
  color: black;
}

/* Next button */
.month .next {
    float: right;
    background: #1abc9c;
    color:#fff;
    padding-top: 10px;
}

.month .next:hover {
  background-color: #1abc9c;
  color: black;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    height: 40px;
    background-color:#ddd;
}

.weekdays li {
    // display: inline-block;
    // width: 13.6%;
    // color: #666;
    // text-align: center;
    display: inline-block;
    text-align: center;
    width: 13.6%;
    padding: 10px 6px;
    color: #666;
    font-size: 13px;
}

/* Days (1-31) */
.days {
    float: left;
    padding: 10px 0;
    margin: 0;
    width: 100%;
}

.days td {
    display: block;
    float: left;
    padding: 10px;
    width:14.35%;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
    height: 95px;

}

/* Highlight the "current" day */
.days td .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important;
}

.days td .notRealMonth {
  margin: 0;
  padding: 0;
  color: #808080;
}

.days td:hover {
  color: #2693ff;
  background: #e1e1e1;
  border-top: 1px solid #d0d0d0;
}

.feed-card {
    margin-top: 40px;
    display:inline-block;
    width: calc(100vw - 400px);
    font-family: avenir-next;

    .scrollable {
        max-height: calc(95vh - 96px);
        overflow: scroll;
        word-wrap: break-word;
        background-color: white;
    }

    .has-description {
        padding-top: 15px;
        padding-bottom: 13px;
    }

    .list-item {
        margin-bottom: 0px !important;
    }

    .feed-item-createdtime {
        font-size: 14px;
        color: darkslategray;
    }

    .feed-item-user {
        font-weight: 600;
    }

    .feed-item-name {
        overflow: initial;
        word-wrap: break-word !important;
        white-space: normal !important;
        font-size: 20px !important;
    }

    .feed-item-eventtime {
        font-size: 14px !important;
        color: darkslategray !important;
    }

    .feed-item-description {
        font-size: 16px !important;
    }

    .no-padding {
        padding: 0px;
    }
}

.friends-list {
    font-family: avenir-next;
    width: 276px;
    margin-top: 40px;
    float: right;
    box-shadow: none;
    border-left: thin solid rgba(0,0,0,0.2);

    .scrollable {
        background-color: white;
        overflow: scroll;
        height: calc(100vh - 180px);
    }

    .add-friend-footer {
        padding-left: 10px;
    }

    .add-friend-btn {
        min-width: initial;
        position: relative;
        top: -13px;
    }

    md-card-content {
        padding-top: 0px;
        padding-bottom: 0px;
    }

}
