@font-face {
  font-family: 'avenir-next';
  src: url("../fonts/avenir-next-regular.woff") format("woff"), url("../fonts/avenir-next-regular.tff") format("truetype"); }

.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 0px;
  margin-left: 0px;
  width: initial; }

.header-partial {
  margin-top: 25px; }
  .header-partial .page a {
    font-family: avenir-next;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none; }
  .header-partial .page a:hover {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6); }
  .header-partial .page .selected a {
    color: black;
    border-bottom: 1px solid #000; }
  .header-partial .user-dropdown {
    float: right; }
  .header-partial .dropdown-menu {
    margin: 2px -100 0; }
    .header-partial .dropdown-menu li a:hover {
      border: none; }
  .header-partial .user-button {
    margin-right: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none; }

#create-event-dialog .toText {
  position: relative;
  top: -8px;
  margin-left: 13px;
  margin-right: 13px; }

#create-event-dialog .eventnameform {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px !important;
  width: auto;
  display: block; }

#create-event-dialog .eventtimeform {
  margin-left: 20px;
  margin-right: 20px; }
  #create-event-dialog .eventtimeform .timepicker {
    margin-left: 20px;
    position: relative;
    top: -8px;
    width: 90px; }
  #create-event-dialog .eventtimeform .dateform {
    display: inline-block; }

#create-event-dialog .eventdescription {
  margin-left: 20px;
  margin-right: 20px;
  top: -35px; }

#create-event-dialog .create-button {
  margin-right: 15px; }

#create-event-dialog .create-event-error {
  text-align: center;
  color: #dd2c00; }

<<<<<<< HEAD
ul {
  list-style-type: none; }

body {
  font-family: Verdana, sans-serif; }

.button {
  outline: none;
  border: none; }

/* Month header */
.month {
  padding: 50px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center; }

/* Month list */
.month ul {
  margin: 0;
  padding: 0; }

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px; }

/* Previous button inside month header */
.month .prev {
  float: left;
  background: #1abc9c;
  color: #fff;
  padding-top: 10px; }

.month .prev:hover {
  background-color: #1abc9c;
  color: black; }

/* Next button */
.month .next {
  float: right;
  background: #1abc9c;
  color: #fff;
  padding-top: 10px; }

.month .next:hover {
  background-color: #1abc9c;
  color: black; }

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  height: 40px;
  background-color: #ddd; }

.weekdays li {
  display: inline-block;
  text-align: center;
  width: 13.6%;
  padding: 10px 6px;
  color: #666;
  font-size: 13px; }

/* Days (1-31) */
.days {
  float: left;
  padding: 10px 0;
  margin: 0;
  width: 100%; }

.days td {
  display: block;
  float: left;
  padding: 10px;
  width: 14.369%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
  height: 120px; }

/* Highlight the "current" day */
.days td .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
  height: 120px; }

.days td:hover {
  color: #2693ff;
  background: #e1e1e1;
  border-top: 1px solid #d0d0d0; }
=======
.feed-card {
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: avenir-next; }
  .feed-card .scrollable {
    max-height: calc(95vh - 96px);
    overflow: scroll;
    word-wrap: break-word;
    background-color: white; }
  .feed-card .has-description {
    padding-top: 15px;
    padding-bottom: 13px; }
  .feed-card .list-item {
    margin-bottom: 0px !important; }
  .feed-card .feed-item-createdtime {
    font-size: 14px;
    color: darkslategray; }
  .feed-card .feed-item-user {
    font-weight: 600; }
  .feed-card .feed-item-name {
    overflow: initial;
    word-wrap: break-word !important;
    white-space: normal !important;
    font-size: 20px !important; }
  .feed-card .feed-item-eventtime {
    font-size: 14px !important;
    color: darkslategray !important; }
  .feed-card .feed-item-description {
    font-size: 16px !important; }
  .feed-card .no-padding {
    padding: 0px; }
>>>>>>> 7541c85e0ad45d1c9946a67416f020cd534f8030
