@font-face {
  font-family: 'avenir-next';
  src: url("../fonts/avenir-next-regular.woff") format("woff"), url("../fonts/avenir-next-regular.tff") format("truetype"); }

body {
  background-color: initial; }

.container {
  padding-right: 0px;
  padding-left: 0px;
  width: initial; }
  .container .row {
    margin-right: 0px;
    margin-left: 0px; }

.header-partial {
  padding-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .header-partial .calendar a, .header-partial .feed a {
    font-family: avenir-next;
    font-weight: 600;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.35);
    text-decoration: none;
    padding: 10px; }
  .header-partial .calendar a:hover, .header-partial .feed a:hover {
    text-decoration: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1); }
  .header-partial .calendar.selected a, .header-partial .feed.selected a {
    color: black; }
  .header-partial .right-header {
    margin-right: 40px;
    margin-top: 1px;
    float: right;
    position: relative;
    bottom: 20px; }
    .header-partial .right-header .header-btn {
      margin-right: 10px;
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      position: relative;
      bottom: -10px;
      padding: 0px; }
    .header-partial .right-header .dropdown-menu {
      margin: 23px -120 0;
      font-family: avenir-next;
      font-size: 16px; }
      .header-partial .right-header .dropdown-menu li a:hover {
        border: none; }
    .header-partial .right-header .profile-dropdown-menu:before {
      position: absolute;
      top: -7px;
      left: 132px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: ''; }
    .header-partial .right-header .profile-dropdown-menu:after {
      position: absolute;
      top: -6px;
      left: 133px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
      content: ''; }
    .header-partial .right-header .notif-dropdown-menu:before {
      position: absolute;
      top: -7px;
      left: 280px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: ''; }
    .header-partial .right-header .notif-dropdown-menu:after {
      position: absolute;
      top: -6px;
      left: 281px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
      content: ''; }
    .header-partial .right-header .notif-dropdown-menu {
      padding: 0px;
      width: 380px;
      margin: 23px -267 0; }
      .header-partial .right-header .notif-dropdown-menu .no-notif-menu {
        margin-top: 7px;
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: 7px;
        font-size: 16px;
        text-align: center; }
      .header-partial .right-header .notif-dropdown-menu .delete-notif-btn, .header-partial .right-header .notif-dropdown-menu .confirm-notif-btn {
        float: right; }
      .header-partial .right-header .notif-dropdown-menu li {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        padding-top: 5px;
        padding-bottom: 5px; }
        .header-partial .right-header .notif-dropdown-menu li span {
          flex: 1;
          padding: 1em; }
        .header-partial .right-header .notif-dropdown-menu li .confirm-notif-btn {
          right: 8px; }
        .header-partial .right-header .notif-dropdown-menu li .delete-notif-btn, .header-partial .right-header .notif-dropdown-menu li .confirm-notif-btn {
          text-transform: none;
          font-weight: 700;
          float: right; }
    .header-partial .right-header .fa-lg {
      line-height: initial;
      font-size: 1.5em;
      padding: 10px; }
    .header-partial .right-header .fa-lg:hover {
      border-radius: 30px;
      background-color: rgba(0, 0, 0, 0.1); }
    .header-partial .right-header .notif-num {
      background-color: #fa3e3e;
      border-radius: 2px;
      color: white;
      padding: 1px 3px;
      position: absolute;
      right: 70px;
      top: 15px;
      font-size: 10px; }

#create-event-dialog .toText {
  position: relative;
  top: -8px;
  margin-left: 13px;
  margin-right: 13px; }

#create-event-dialog .eventnameform {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px !important;
  width: auto;
  display: block; }

#create-event-dialog .eventtimeform {
  margin-left: 20px;
  margin-right: 20px; }
  #create-event-dialog .eventtimeform .timepicker {
    margin-left: 20px;
    position: relative;
    top: -8px;
    width: 90px; }
  #create-event-dialog .eventtimeform .dateform {
    display: inline-block; }

#create-event-dialog .eventdescription {
  margin-left: 20px;
  margin-right: 20px;
  top: -35px; }

#create-event-dialog .create-button {
  margin-right: 15px; }

#create-event-dialog .create-event-error {
  text-align: center;
  color: #dd2c00; }

.feed-card {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
  width: calc(100vw - 315px);
  font-family: avenir-next; }
  .feed-card .scrollable {
    max-height: calc(100vh - 83px);
    overflow: scroll;
    word-wrap: break-word;
    background-color: white; }
  .feed-card .has-description {
    padding-top: 15px;
    padding-bottom: 13px; }
  .feed-card .list-item {
    margin-bottom: 0px !important; }
  .feed-card .feed-item-createdtime {
    font-size: 14px;
    color: darkslategray; }
  .feed-card .feed-item-user {
    font-weight: 600; }
  .feed-card .feed-item-name {
    overflow: initial;
    word-wrap: break-word !important;
    white-space: normal !important;
    font-size: 20px !important; }
  .feed-card .feed-item-eventtime {
    font-size: 14px !important;
    color: darkslategray !important; }
  .feed-card .feed-item-description {
    font-size: 16px !important; }
  .feed-card .no-padding {
    padding: 0px; }

.friends-list {
  font-family: avenir-next;
  width: 240px;
  margin-top: 20px;
  float: right;
  margin-right: 30px; }
  .friends-list .scrollable {
    background-color: white;
    overflow: scroll;
    height: calc(100vh - 180px); }
  .friends-list .add-friend-footer {
    padding-left: 10px; }
  .friends-list .add-friend-btn {
    min-width: initial;
    position: relative;
    top: -13px; }
  .friends-list md-card-content {
    padding-top: 0px;
    padding-bottom: 0px; }
  .friends-list md-list-item .md-focused {
    background-color: transparent; }
  .friends-list .md-button {
    width: inherit;
    text-align: left;
    height: 48px;
    text-transform: none;
    padding-left: 10px;
    margin: 0px; }
  .friends-list md-list-item, .friends-list md-list-item .md-list-item-inner {
    padding: 0px; }
  .friends-list md-menu {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available; }

.md-open-menu-container .md-button:not([disabled]).md-focused {
  background-color: transparent !important; }

.md-open-menu-container md-menu-content {
  padding: 0px; }
