<div class="header-partial">
    <div class="page row">
        <span class="col-sm-4 col-xs-2"></span>
        <span class="calendar col-sm-2 col-xs-3 text-center" ng-class="(showCalendarPage) ? 'selected' : ''"><a href="#" ng-click="goToCalendar()">Calendar</a></span>
        <span class="feed col-sm-2 col-xs-3 text-center" ng-class="(showFeedPage) ? 'selected': ''"><a href="#" ng-click="goToFeed()">Feed</a></span>

        <div class="right-header">
            <span class="dropdown notif-dropdown">
                <button class="header-btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-bell-o fa-lg" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu notif-dropdown-menu">
                    <div class="no-notif-menu" ng-if="notifications.length === 0">You have no notifications.</div>
                    <li ng-repeat="item in notifications">
                        <span>{{item}}</span>
                        <md-button class="md-primary md-raised delete-notif-btn" ng-click="acceptFriendRequest(item)">Confirm</md-button>
                        <md-button class="md-raised confirm-notif-btn" ng-click="deleteFriendRequest(item)">Delete</md-button>
                    </li>
                </ul>
            </span>

            <span class="notif-num" ng-if="notifications.length !== 0">{{notifications.length}}</span>

            <span class="dropdown">
                <button class="header-btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#" ng-click="signOut()">Sign Out</a></li>
                </ul>
            </span>
        </div>
    </div>
</div>

<div ng-if="showCalendarPage" ng-include="'app/views/calendar.html'" ng-controller="CalendarController"></div>
<div ng-if="showFeedPage" ng-include="'app/views/feed.html'" ng-controller="FeedController"></div>