<ng-include src="'app/views/header.html'"></ng-include>

<p>{{ tagline }}</p>


<div class="month">
<ul>
<li> <a href="#" ng-click="previous()" class="prev">&#10094; </a> </li>
<li> <a href="#" ng-click="next()" class="next">&#10095; </a> </li>
<li>
  {{monthName}} {{yearDate}}
</li>
</ul>
</div>

<ul class="weekdays">
<li>Sunday</li>
<li>Monday</li>
<li>Tuesday</li>
<li>Wednesday</li>
<li>Thursday</li>
<li>Friday</li>
<li>Saturday</li>
</ul>

<!-- <ul class="prevDays" id = "prevDays"> </ul> !-->

<ul class="days" id = "days"> </ul>

<!-- <ul class="nextDays" id = "nextDays"> </ul> !-->
