<ng-include src="'app/views/header.html'"></ng-include>

<md-card class="feed-card">
    <md-card-content class="no-padding">
        <md-content class="scrollable">
                <md-list class="no-padding">
                    <md-list-item class="md-3-line md-long-text list-item" ng-repeat="item in todos">
                        <div class="md-list-item-text" ng-class="(item.description !== '') ? 'has-description' : ''">
                            <h3><span class="feed-item-user">{{item.user}}</span> <span class="feed-item-createdtime">{{item.createdTime}}</span></h3>
                            <h4 class="feed-item-name">{{item.name}}</h4>
                            <p class="feed-item-eventtime">{{item.startTime}} - {{item.endTime}}</p>
                            <p class="feed-item-description">{{item.description}}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
                </md-content>
    </md-card-content>
</md-card>