<div ng-cloak class="bg"></div>
<div ng-cloak class="home row">
    <div class="col-xs-0 col-md-1"></div>
    <div class="col-xs-6 col-md-5 left-half">
        <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
        <h1>Calendar</h1>
        <md-button type="submit" class="md-primary md-raised" ng-click="redirectSignup()"><span>Sign up</span></md-button>
        <h4>Already have an account?</h4>
        <md-button type="submit" class="md-primary md-raised" ng-click="redirectLogin()"><span>Log in</span></md-button>
    </div>
    <!-- try both col-sm-6 --> 
    <div class="col-xs-6 col-md-5 right-half">
        <h1>Organize all your events in one convenient place</h1>
        
        <ul class>
            <li>Organize your events</li>
            <li>Add friends and view their activities</li>
        </ul>
    </div>
    <div class="col-xs-0 col-md-1"></div>
</div>