<div class="jumbotron text-center">
    <h1>Home Page</h1>
	
	<form>
	    <div class="form-group">
		    <label>Username/Email</label>
		    <input type="text" class="form-control" ng-model="user">
	    </div>
	    <div class="form-group">
		    <label>Password</label>
		    <input type="password" class="form-control" ng-model="password">
		</div>

	    <button type="submit" ng-click="myFunction(user, password)" class="btn btn-warning btn-lg">Login</button>
    </form>
    <p>Need an account? Register <a href="/register">here</a>.</p>
</div>