@font-face {
  font-family: 'avenir-next';
  src: url("../fonts/avenir-next-regular.woff") format("woff"), url("../fonts/avenir-next-regular.tff") format("truetype"); }

.body {
  background-image: url("./images/sierra.jpg"); }

h1 {
  color: black; }

h4 {
  color: black; }

.form-control {
  width: 300px;
  text-align: center;
  margin: auto; }

ul {
  list-style-type: none; }

ul li:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-size: 10px;
  background-image: url("./images/calendar.jpg");
  background-repeat: no-repeat;
  margin-right: 5px; }

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: initial;
  opacity: 100;
  background-image: url("./images/sierra.jpg");
  font-family: 'avenir-next'; }

.container2 {
  text-align: center;
  background-image: url("./images/sierra.jpg");
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.left-half {
  width: 50%;
  height: 100%;
  float: left;
  border-collapse: collapse;
  justify-content: center; }

.right-half {
  width: 50%;
  height: 100%;
  float: right;
  border-collapse: collapse;
  justify-content: center; }

.btn {
  display: inline-block;
  background-color: #555555;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 500px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px;
  border-radius: 12px;
  max-width: 90%; }

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s; }

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s; }

.btn:hover span {
  padding-right: 25px; }

.btn:hover span:after {
  opacity: 1;
  right: 0; }

.header-partial {
  margin-top: 25px; }
  .header-partial .page a {
    font-family: avenir-next;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none; }
  .header-partial .page a:hover {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6); }
  .header-partial .page .selected a {
    color: black;
    border-bottom: 1px solid #000; }
  .header-partial .user-dropdown {
    float: right; }
  .header-partial .dropdown-menu {
    margin: 2px -100 0; }
    .header-partial .dropdown-menu li a:hover {
      border: none; }
  .header-partial .user-button {
    margin-right: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none; }
