
<!--<div class="jumbotron text-center">-->

<div class="container">
  <div class="cent">
<div class='left-half' style="text-align:center; margin-top:150px;">
  <img src="../assets/css/images/calendar.jpg" width="50" height="50">
  <h1>myCalendar</h1>
  <a href="/register">
     <button type="submit" class="btn"><span>Sign up</span></button>
  </a>

  <br />
  <h4>Already have an account?</h4>

  <a href="/login">
    <button type="submit" class="btn"><span>Log in</span></button>
  </a>



</div>



<div class='right-half' style="text-align:center;  margin-top:150px;">
  <h1 style="text-align:left;" color="green">Organize all the events in your life,</h1>
  <h1 style="text-align:left;">in one convenient place.</h1>
  <h4 style="text-align:left;">Easy to use interface.</h4>

  <ul class>
    <li style="text-align:left;">Organize life events with a click of a button</li>
    <li style="text-align:left;">Search and add friends</li>
  </ul>


</div>
</div>
</div>
