
<div class="container2">
<!--<div class="jumbotron text-center">-->
    <h1 style="text-align:center">Login</h1>

	<form>
	    <div class="form-group" style="text-align:center">
		    <label>Email</label>
		    <input type="email" class="form-control" ng-model="email">
	    </div>
	    <div class="form-group" style="text-align:center">
		    <label>Password</label>
		    <input type="password" class="form-control" ng-model="password" id="myInput">
        <span id='password_message' ></span>
        <!-- An element to toggle between password visibility -->
        <input type="checkbox" ng-click="passwordFunction()">Show Password
		</div>

	    <button style="text-align:center" type="submit" ng-click="myFunction(email, password)" class="btn"><span>Login</span></button>
    </form>
    <p style="text-align:center; color:black">Need an account? Register <a href="/register" style="color:navy">here</a>.</p>
</div>
<!--</div>-->
