<div class="container2">
    <h1>Register</h1>
    <form>
	    <div class="form-group">
		    <label>Username</label>
		    <input type="text" class="form-control" ng-model="username">
        <span id='username_message'></span>
	    </div>
	    <div class="form-group">
		    <label>Email</label>
		    <input type="email" class="form-control" ng-model="email">
        <span id='email_message'></span>
	    </div>
	    <div class="form-group">
		    <label>Password</label>
		    <input type="password" class="form-control" ng-model="firstPassword">
        <span id='first_message'></span>
	    </div>
	    <div class="form-group">
		    <label>Verify Password</label>
		    <input type="password" class="form-control" ng-model="secondPassword">
        <span id='second_message'></span>
        </div>
	    <button type="submit" ng-click="register(username, email, firstPassword, secondPassword)" class="btn">Sign up!</button>
    </form>
    <!--<a href="/login">Already have an account?</a>-->
    <p style="text-align:center; color:black">Have an account? Login <a href="/login" style="color:navy">here</a>.</p>
</div>
